<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
    <h5>Operación</h5>
    <a href="http://localhost:9999/home">Casas</a>
    <a href="http://localhost:9999/home">Departamentos</a>
    <br>
    <h5>Habitaciones</h5>
    <div class="list-group">
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="1Habitacion">
        1 Habitacion
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="2Habitacion">
        2 Habitaciones
      </label>
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="todas">
        Todos
      </label>
    </div>
  </nav>