<nav class="navbar navbar-transparent navbar-expand-lg navbar-light">
  <img id="miImagen" src="https://cdn-icons-gif.flaticon.com/11259/11259492.gif" >
  <div class="container-fluid ">
    
    <a class="navbar-brand" href="/home">Inmobidik</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Comprar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/comprarDepto">Departamentos</a></li>
            <li><a class="dropdown-item" href="#">Casas</a></li>
            <li><a class="dropdown-item" href="#">Salones</a></li>
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vender
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Departamentos</a></li>
            <li><a class="dropdown-item" href="#">Casas</a></li>
            <li><a class="dropdown-item" href="#">Salones</a></li>
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Alquiler
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/alquilerDepartamento">Departamentos</a></li>
            <li><a class="dropdown-item" href="/alquilerCasa">Casas</a></li>
            <li><a class="dropdown-item" href="/alquilerSalon">Salones</a></li>
          </ul>
        <li class="nav-item">
          <a class="nav-link active" href="/about">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">Quienes somos?</a>
        </li>
      </ul>
      <form class="d-flex">
        <a href="/login" class="boton">Ingresar</a>

      </form>
    </div>
  </div>
</nav>