<nav class="navbar navbar-transparent navbar-expand-lg navbar-light">
    <div class="container-fluid ">
      <img src="https://drive.google.com/file/d/1q8KzQoS9ylpQGLtBOrcYZ82qtPmocQMn/view?usp=sharing" class="iconoInmo">
      <a class="navbar-brand" href="#">Inmobidik</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about">About us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <a href="/login" class="boton">Ingresar</a>

        </form>
      </div>
    </div>
  </nav>