<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="container mt-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1603003568133-55b07aaf1860?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Imagen de la propiedad">
          <div class="card-body">
            <h5 class="card-title">Nombre de la Propiedad</h5>
            <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Dormitorios: 3</li>
              <li class="list-group-item">Baños: 2</li>
              <li class="list-group-item">Superficie: 150 m²</li>
            </ul>
            <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
          </div>
        </div>
      </div>
      <div class="container mt-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1603003568133-55b07aaf1860?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Imagen de la propiedad">
          <div class="card-body">
            <h5 class="card-title">Nombre de la Propiedad</h5>
            <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item nuevo">Dormitorios: 3</li>
              <li class="list-group-item nuevo">Baños: 2</li>
              <li class="list-group-item nuevo">Superficie: 150 m²</li>
            </ul>
            <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
          </div>
        </div>
      </div>
      <div class="container mt-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1603003568133-55b07aaf1860?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Imagen de la propiedad">
          <div class="card-body">
            <h5 class="card-title">Nombre de la Propiedad</h5>
            <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Dormitorios: 3</li>
              <li class="list-group-item">Baños: 2</li>
              <li class="list-group-item">Superficie: 150 m²</li>
            </ul>
            <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
          </div>
        </div>
      </div>
       
      <div class="container mt-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1603003568133-55b07aaf1860?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Imagen de la propiedad">
          <div class="card-body">
            <h5 class="card-title">Nombre de la Propiedad</h5>
            <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Dormitorios: 3</li>
              <li class="list-group-item">Baños: 2</li>
              <li class="list-group-item">Superficie: 150 m²</li>
            </ul>
            <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
          </div>
        </div>
      </div>
      <div class="container mt-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1603003568133-55b07aaf1860?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Imagen de la propiedad">
          <div class="card-body">
            <h5 class="card-title">Nombre de la Propiedad</h5>
            <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Dormitorios: 3</li>
              <li class="list-group-item">Baños: 2</li>
              <li class="list-group-item">Superficie: 150 m²</li>
            </ul>
            <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
          </div>
        </div>
      </div>
     <!--  <div class="col">
        <div class="card">
          <img src="https://pics.nuroa.com/casa_en_alquiler_en_mendoza_sexta_seccion_mendoza_166_m2_3_hab_6160103695820212966.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div> -->
      <div class="container mt-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1603003568133-55b07aaf1860?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Imagen de la propiedad">
          <div class="card-body">
            <h5 class="card-title">Nombre de la Propiedad</h5>
            <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Dormitorios: 3</li>
              <li class="list-group-item">Baños: 2</li>
              <li class="list-group-item">Superficie: 150 m²</li>
            </ul>
            <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
          </div>
        </div>
      </div>
    </div>
    </div>