<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="container mt-4">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_NQ_NP_852747-MLA72789815433_112023-O.webp" class="card-img-top" alt="Imagen de la propiedad">
              <div class="card-body">
                <h5 class="card-title">Nombre de la Propiedad</h5>
                <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dormitorios: 3</li>
                  <li class="list-group-item">Baños: 2</li>
                  <li class="list-group-item">Superficie: 150 m²</li>
                </ul>
                <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
              </div>
            </div>
          </div>
          <div class="container mt-4">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_NQ_NP_852747-MLA72789815433_112023-O.webp" class="card-img-top" alt="Imagen de la propiedad">
              <div class="card-body">
                <h5 class="card-title">Nombre de la Propiedad</h5>
                <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dormitorios: 3</li>
                  <li class="list-group-item">Baños: 2</li>
                  <li class="list-group-item">Superficie: 150 m²</li>
                </ul>
                <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
              </div>
            </div>
          </div>
          <div class="container mt-4">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_NQ_NP_852747-MLA72789815433_112023-O.webp" class="card-img-top" alt="Imagen de la propiedad">
              <div class="card-body">
                <h5 class="card-title">Nombre de la Propiedad</h5>
                <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dormitorios: 3</li>
                  <li class="list-group-item">Baños: 2</li>
                  <li class="list-group-item">Superficie: 150 m²</li>
                </ul>
                <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
              </div>
            </div>
          </div>
          <div class="container mt-4">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_NQ_NP_852747-MLA72789815433_112023-O.webp" class="card-img-top" alt="Imagen de la propiedad">
              <div class="card-body">
                <h5 class="card-title">Nombre de la Propiedad</h5>
                <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dormitorios: 3</li>
                  <li class="list-group-item">Baños: 2</li>
                  <li class="list-group-item">Superficie: 150 m²</li>
                </ul>
                <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
              </div>
            </div>
          </div>
          <div class="container mt-4">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_NQ_NP_852747-MLA72789815433_112023-O.webp" class="card-img-top" alt="Imagen de la propiedad">
              <div class="card-body">
                <h5 class="card-title">Nombre de la Propiedad</h5>
                <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dormitorios: 3</li>
                  <li class="list-group-item">Baños: 2</li>
                  <li class="list-group-item">Superficie: 150 m²</li>
                </ul>
                <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
              </div>
            </div>
          </div>
          <div class="container mt-4">
            <div class="card">
              <img src="https://http2.mlstatic.com/D_NQ_NP_852747-MLA72789815433_112023-O.webp" class="card-img-top" alt="Imagen de la propiedad">
              <div class="card-body">
                <h5 class="card-title">Nombre de la Propiedad</h5>
                <p class="card-text">Descripción de la propiedad. Puede ser un resumen breve de lo que ofrece.</p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Dormitorios: 3</li>
                  <li class="list-group-item">Baños: 2</li>
                  <li class="list-group-item">Superficie: 150 m²</li>
                </ul>
                <center><a href="#" class="btn btn-primary mt-3">Ver Detalles</a></center>
              </div>
            </div>
          </div>
    </div>
</div>