<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Inmobidik - Home</title>
  <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/2160/2160136.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <%- include('../Public/Style/efectoWave.ejs')%>
  <%- include('../Public/Style/homeView.ejs')%>
</head>

<body>
  <%- include('parciales/navigation') %>
    <!-- Encabezado de la página -->
    <header>
      <h1>Bienvenido a Inmobidik</h1>
      <p class="coco">Tu destino para encontrar la propiedad de tus sueños</p>
    </header>
    <!-- Wave -->
    <div class="bg_color"></div>
    <div class="wave w1"></div>
    <!-- Fin Wave -->

    <!-- Sección de búsqueda de propiedades -->
    <section class ="subtitulo">
      <h2>Encuentra la Propiedad Perfecta</h2>
      <p>Encuentra propiedades que se adapten a tus necesidades:</p>

      <!-- <input type="text" name="ubicacion" id="ubicacion">
        <button type="submit">Buscar</button> -->
    </section>
    <div class="select-container content">
      <select class="select-box" >
        <option selected>¿Que desea hacer?</option>
        <option value="1">Vender</option>
        <option value="2">Alquilar</option>
        <option value="3">Comprar</option>
      </select>
      <select class="select-box" aria-label="Disabled select example">
        <option selected>¿Que inmueble?</option>
        <option value="1">Casas</option>
        <option value="2">Lotes</option>
        <option value="3">Locales</option>
        <option value="4">Fincas</option>
      </select>
      <select class="select-box" aria-label="Disabled select example">
        <option selected>¿Localidad?</option>
        <option value="1">Guaymallén</option>
        <option value="2">Mendoza Capital</option>
        <option value="3">Godoy Cruz</option>
        <option value="4">Luján de Cuyo</option>
        <option value="6">Maipú</option>
        <option value="7">San Rafael</option>
        <option value="8">Las Heras</option>
        <option value="9">Chacras de Coria</option>
        <option value="10">San Martín</option>
        <option value="11">Tunuyán</option>
        <option value="12">Lavalle</option>
        <option value="13">Vistalba</option>
      </select>
      <button class="BotonBuscar"> Buscar
      </button>
    </div>
    
    <div id="carouselExampleSlidesOnly" class="carousel slide slider" data-bs-ride="carousel">
      
      <div class="carousel-inner">
        <div class="carousel-item ">
          <img src="https://images.unsplash.com/photo-1594734439445-f7d8eb97037d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1595483921906-7da233885832?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1430285561322-7808604715df?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1606995797128-f14378256876?q=80&w=1496&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    


    <!-- Sección de propiedades destacadas -->
    <!-- <section class="centrado">
      <h2>Propiedades Destacadas</h2>
      <div class="propiedad">
        <img class="imagenesPer" src="https://images.unsplash.com/photo-1570127828934-c60aa3e1e5af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80" alt="Casa en venta">
        <h3>Casa de Lujo en el Lago</h3>
        <p>Amplia casa de 4 habitaciones con vista al lago.</p>
        <p>Precio: $500,000</p>
        <a href="#">Más información</a>
      </div>
      <div class="propiedad">
        <img class="imagenesPer" src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="Departamento en venta">
        <h3>Departamento Moderno en el Centro</h3>
        <p>Acogedor departamento de 2 habitaciones en el centro de la ciudad.</p>
        <p>Precio: $250,000</p>
        <a href="#">Más información</a>
      </div>
    </section> -->

    <%- include('parciales/footer') %>
</body>

</html>